{% extends "modelo.html" %}
{% load static %}
{% load crispy_forms_tags %}
<link href="{% static 'img/icon.png' %}" rel="icon">
{% block titulo %}
<title>
    Tipo de Movimentação
</title>
{% endblock %}

{% block corpo %}
<style>
    .custom-container {
        position: relative;
        top: -20vh; 
    }
</style>
<div class="container vh-100 d-flex flex-column justify-content-center align-items-center custom-container">
    <h2 class="mb-4">Escolha o Tipo de Movimentação Que Deseja Cadastrar</h2>
    <div class="d-flex flex-row mb-3">


{% endblock %}

