{% extends "modelo.html" %}
{% load static %}

{% block titulo %}
<title>
    Excluir Produto
</title>
{% endblock %}


{% block corpo %}
<div class="container">
    <p>
    Confirme para exluir os produtos
</p>


<h4>
    Excluir Produtos
</h4>

    <form action="" method="POST">
        <p>
            Deseja excluir: <b> {{ object }}? </b>
        </p>
        {% csrf_token %}


        {{ form.as_p }}
        <button type="submit" class="btn  btn-danger">Excluir</button>

    </form>
</div>
{% endblock %}