{% extends "modelo.html" %}
{% load static %}
{% load tz %}

{% block titulo %}
    <title>Listar Vendas</title>
{% endblock %}

{% block corpo %}
<div class="container">
    {% if success_message %}
    <hr>
    <div class="alert alert-success" id="success-message">{{ success_message }}</div>
    {% endif %}

    <div class="table-responsive">
        <table class="table table-striped">
            <thead>
                <tr>
                    <th>Produtos</th>
                    <th>Quantidade</th>
                    <th>Valor Total</th>
                    <th>Data de Criação</th>
                    <th>Ações</th>
                </tr>
            </thead>
            <tbody>
                {% for venda in vendas %}
                <tr>
                    <td>
                        <ul>
                            {% for item in venda.itens.all %}
                                <li>{{ item.produto.nome }}</li>
                            {% endfor %}
                        </ul>
                    </td>
                    <td>
                        <ul>
                            {% for item in venda.itens.all %}
                                <li>{{ item.quantidade }}</li>
                            {% endfor %}
                        </ul>
                    </td>
                    <td>{{ venda.total }}</td>
                    <td>{{ venda.data_criacao }}</td>
                    <td>
                        <a href="{% url 'excluir_venda' venda.pk %}" class="btn btn-danger btn-sm ladoo" title="Excluir">Excluir</a>
                    </td>
                </tr>
                {% empty %}
                    <tr>
                        <td colspan="5">Nenhuma venda registrada.</td>
                    </tr>
                {% endfor %}
                
                <!-- Adicionando botão "Adicionar Venda" após a última linha da tabela -->
                <tr>
                    <td colspan="5" class="text-center">
                        <a href="{% url 'iniciar_venda' %}" class="btn btn-primary btn-sm">Adicionar Venda</a>
                    </td>
                </tr>
            </tbody>
        </table>
    </div>
</div>
{% endblock %}
