{% extends "modelo.html" %}
{% load static %}
{% load tz %}
{% block titulo %}
    <title>Listar Vendas</title>
{% endblock %}

{% block corpo %}
<div class="container">
    <a href="{% url 'iniciar_venda' %}"  class="btn btn-primary btn-sm" style="margin-bottom: 1% ;">Adicionar Venda</a>
    

    {% if success_message %}
    <hr>
    <div class="alert alert-success" id="success-message">{{ success_message }}</div>
    {% endif %}

    <p>Total de produtos listados em vendas: {{ total_produtos }}</p>

    <div class="table-responsive">
        <table class="table table-striped">
            <thead>
                <tr>
                    <th>Produtos</th>
                    <th>Quantidade</th>
                    <th>Valor Total</th>
                    <th>Data de criaçãoo</th>
                </tr>
            </thead>
            <tbody>
                {% for venda in vendas %}
                <tr>
                    <td>
                        <ul>
                            {% for item in venda.itens.all %}
                                <li>{{ item.produto.nome }}</li>
                            {% endfor %}
                        </ul>
                    </td>
                    <td>
                        <ul>
                            {% for item in venda.itens.all %}
                                <li>{{ item.quantidade }}</li>
                            {% endfor %}
                        </ul>
                    </td>
                    <td>{{ venda.total }}</td>
                    <td>{{ venda.data_criacao }}</td>

                    <td> <a href="{% url 'excluir_venda' venda.pk %}" class="btn btn-danger btn-sm ladoo" title="Editar"> Excluir </a>
                    </td>
                </tr>
                {% empty %}
                    <tr>
                        <td colspan="3">Nenhuma venda registrada.</td>
                    </tr>
                {% endfor %}
            </tbody>
        </table>
    </div>


</div>
{% endblock %}
