{% extends "modelo.html" %}
{% load static %}

{% block titulo %}
<title>
    Listar Entradas
</title>
{% endblock %}

{% block corpo %}
<style>
    /* Estilos para a tabela com tema rosa #e21e80 */
    .table {
      border: 1px solid #e21e80; /* Rosa escuro */
      border-collapse: collapse;
      background-color: #ffe6f2; /* Rosa claro para o fundo da tabela */
      width: 100%;
      margin-bottom: 20px;
    }
  
    .table th, .table td {
      padding: 8px;
      text-align: left;
      border: 1px solid #f3a3c6; /* Bordas em rosa mais suave */
    }
  
    .table th {
      background-color: #e21e80; /* Rosa forte para o cabeçalho */
      color: #fff; /* Texto branco para contraste */
    }
  
    .table tr:nth-child(even) {
      background-color: #f9c6da; /* Tom de rosa claro para linhas pares */
    }
  
    .table tr:hover {
      background-color: #f3a3c6; /* Tom médio de rosa no hover */
    }
  
    .btn {
      margin: 5px;
    }
  
    #success-message {
      margin-top: 10px;
    }
  </style>
<div class="container">
<hr>
<hr>
    <h4><i class="bi bi-people"></i> Movimentações cadastradas</h4>

    <div class="table-responsive">
        <table class="table">
            <thead>
                <tr>
                    <th>Descrição</th>
                    <th>Valor</th>
                    <th>Data</th>
                    <th>Opções</th>
                </tr>
            </thead>
            <tbody>
                {% for Movimentacao in object_list %}
                <tr>
                    <td>{{ Movimentacao.descricao }}</td>
                    <td>{{ Movimentacao.valor }}</td>
                    <td>{{ Movimentacao.data }}</td>
                    <td>
                        <a href="{% url 'excluir-saida' Movimentacao.pk %}"  class="btn btn-danger btn-sm" title="Excluir"> Excluir </a>
                    </td>
                </tr>
                {% empty %}
                <tr>
                    <td colspan="6" class="text-center">Sem movimentações cadastradas.</td>
                </tr>
                {% endfor %}
            </tbody>
        </table>
    </div>
</div>
{% endblock %} 
