{% extends "modelo.html" %}
{% load static %}

{% block titulo %}
<title>Produtos</title>
{% endblock %}

{% block corpo %}
<div>
    <section id="gallery">
        <div class="container">
            <a href="{% url 'cadastrar-produto' %}" class="btn btn-primary btn-sm">Adicionar Produto</a>
            <hr>
            <div class="row">
                {% for produto in produtos %}
                    <div class="col-lg-4 mb-4">
                        <div class="card">
                            <div class="tentando">
                                {% if produto.imagem %}
                                    <img src="/media/{{ produto.imagem }}" alt="Imagem do Produto" style="margin-top: 3%; width: 342px; height: 200px; object-fit: contain;">
                                {% else %}
                                    <br><center style="padding-top: 30%; width: 300px; height: 203px;">Nenhuma imagem disponível</center>
                                {% endif %}
                            </div>
                            <div class="card-body">
                                <center><b class="card-title" style="font-weight: bold;">{{ produto.nome }}</b></center><br>
                                <p class="card-price">{{ produto.descricao|truncatewords:15 }}</p>
                                <p class="card-price" style="font-weight: bold; color: #e21e80;">R$ {{ produto.preco }}</p>
                                
                                {% if produto.oferta %}
                                    <p class="card-price">Este produto está em oferta!</p>
                                {% endif %}

                                <!-- Botões de edição e exclusão -->
                                <div class="d-flex justify-content-center mt-3">
                                    <a href="{% url 'editar-produto' produto.id %}" class="btn btn-warning btn-sm mx-1">Editar</a>
                                    <a href="{% url 'excluir-produto' produto.id %}" class="btn btn-danger btn-sm mx-1">Excluir</a>
                                </div>
                            </div>
                        </div>
                    </div>
                {% empty %}
                    <tr>
                        <td colspan="7">Nenhum produto registrado.</td>
                    </tr>
                {% endfor %}
            </div>
        </div>
    </section>
</div>
{% endblock %}
