{% load static %}
<link href="{% static 'css/sb-admin-2.min.css' %}" rel="stylesheet">
<link href="{% static 'css/all.min.css' %}" rel="stylesheet">
<link href="{% static 'css/styles.css' %}" rel="stylesheet">
<link href="{% static 'css/rosa.css' %}" rel="stylesheet">
<link href="{% static 'css/inspector-stylesheet' %}" rel="stylesheet">

{% block content %}

<section class="vh-100" style="margin: 2%;">
  <div class="container py-5 h-100">
    <div class="row d-flex justify-content-center align-items-center h-100">
      <div class="col col-xl-10">
        <div class="card corLog" style="border-radius: 1rem; background: linear-gradient(135deg, #571cc3 10%, #e21e80 100%);">
          <div class="row g-0">
            <div class="col-md-6 col-lg-5 d-none d-md-block">
              <img src="https://mdbcdn.b-cdn.net/img/Photos/new-templates/bootstrap-login-form/img1.webp" 
                   alt="login form" 
                   class="img-fluid w-100 h-100" 
                   style="border-radius: 1rem 0 0 1rem; object-fit: cover;" />
            </div>
            <div class="col-md-6 col-lg-7 d-flex align-items-center">
              <div class="card-body p-4 p-lg-5 text-black">
                <a href="{% url 'index' %}">
                  <svg xmlns="http://www.w3.org/2000/svg" width="25" height="25" fill="currentColor" class="bi bi-arrow-left" style="color: #fff;" viewBox="0 0 16 16">
                    <path fill-rule="evenodd" d="M15 8a.5.5 0 0 0-.5-.5H2.707l3.147-3.146a.5.5 0 1 0-.708-.708l-4 4a.5.5 0 0 0 0 .708l4 4a.5.5 0 0 0 .708-.708L2.707 8.5H14.5A.5.5 0 0 0 15 8"/>
                  </svg>
                </a>
                <div class="text-white">
                  <div class="d-flex align-items-center mb-3 pb-1">
                    <span class="h1 fw-bold mb-0">ElaEmpreende</span>
                  </div>
                  <h2>Redefinir senha</h2>
                  <p>Insira sua nova senha nos campos abaixo.</p>
                  <form method="post">
                    {% csrf_token %}
                    {{ form.as_p }}
                    <button type="submit" class = "btn btn-dark btn-primary btn-sm w-auto btn-block">Redefinir senha</button>
                  </form>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>

{% endblock %}
