{% extends "modelo.html" %}
{% load static %}


    {% block titulo %}
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Perfil dos Usuários</title>
    {% endblock %}
    {% block estilos %}
    <link rel="stylesheet" href="{% static 'css/style.css' %}">
    {% endblock %}


{% block corpo %}
<div class="container">
    
    <h1 class="my-4">Perfis das Empreendedoras</h1>
    <div class="row">
        {% for empresa in empresas %}
        <div class="col-md-4 mb-4">
            <div class="card">
                <div class="card-body text-center">
                    {% if empresa.imagem %}
                    <img src="{{ empresa.imagem.url }}" alt="{{ empresa.user.username }}" class="img-fluid rounded-circle mb-3" width="150" height="150">
                    {% else %}
                    <svg xmlns="http://www.w3.org/2000/svg" width="150" height="150" style="color:#e5378e;" fill="currentColor" class="bi bi-person-circle mb-3" viewBox="0 0 16 16">
                        <path d="M11 6a3 3 0 1 1-6 0 3 3 0 0 1 6 0"/>
                        <path fill-rule="evenodd" d="M0 8a8 8 0 1 1 16 0A8 8 0 0 1 0 8m8-7a7 7 0 0 0-5.468 11.37C3.242 11.226 4.805 10 8 10s4.757 1.225 5.468 2.37A7 7 0 0 0 8 1"/>
                    </svg>
                    {% endif %}
                    <h5 class="card-title">{{ empresa.user.username }}</h5>
                    <p class="card-text">{{ empresa.descricao }}</p>
                    <a href="{% url 'perfil_usuario' empresa.user.username %}" class="btn btn-primary">Ver Perfil</a>
                </div>
            </div>
        </div>
        
        {% empty %}
        <h5 class="my-4">Nenhuma empreendedora registrada.</h5>
 
        {% endfor %}      
       
    </div>
</div>
{% endblock %}


